:root {
    --primary-color: rgb(49, 49, 51);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(151, 146, 146);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: 'poppins', sans-serif;
}

header {
    display: flex;
    gap: 650px;
    margin:25px ;
    width: 1880px;
    
}

header ul li {
    color: rgb(255, 0, 0);
    
}

ul {
    list-style-type: none;
}
.margin-top {
    margin-top: 32px;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--primary-color);
}

nav ul{
    display: flex;
    gap: 60px;
    margin: 25px;
}
main {
    margin: 25px;
}
.container-01 {
    display: flex;
    gap: 40px;

}

.container-01 img {
    border-radius: 15px;
}

.container-01 p {
    line-height: 35px;
}


