:root {
    --primary-color: rgb(87, 98, 163);
    --secondary-color: rgb(255, 255, 255);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(97, 97, 224);
    font-family: 'poppins', sans-serif;
}

h1,
h2,
button.margin-top {
    margin-top: 100px;
}

h3,
h2,
h1 {
    margin-bottom: 70px;
}

img {
    border-radius: 50%;
}

p {
    margin-top: 20px;
}

.container {
    width: 1880px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.page {
    width: 75vh;
    padding: 0;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue {
    background-color: var(--primary-color);
}

.white {
    background-color: var(--secondary-color);

}

.login {
    box-shadow: 5px 5px 5px #e9e3e3;
}